<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Admin | Register</title>
</head>

<body>
    <!--chequear links-->
    <%- include('../partials/headerAdmin') %>

        <main>
            <section class="container">
                <h1 class="register__titulo">CREA TU CUENTA</h1>
                <h3 class="register__subtitulo">Completa el formulario para ser parte del mundo de los Funkos</h3>

                <div class="register_container">
                    <form class="formulario" action="/register" method="post">
                        <div class="formulario_linea">
                            <label for="name" class="formulario__label">Nombre:</label>
                            <input class="formulario__input" name="name" id="name" type="text" placeholder="John"
                                required>
                        </div>
                        <div class="formulario_linea">
                            <label for="apellido" class="formulario__label">Apellido:</label>
                            <input class="formulario__input" name="apellido" id="apellido" type="text" placeholder="Doe"
                                required>
                        </div>
                        <div class="formulario_linea">
                            <label for="email" class="formulario__label">Email:</label>
                            <input class="formulario__input" name="email" id="email" type="email"
                                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                                title="Debe ser un formato correcto de email" placeholder="johndoe@correo.com" required>
                        </div>
                        <div class="formulario_linea">
                            <label for="password" class="formulario__label">Contraseña:</label>
                            <input class="formulario__input" type="password" id="password" name="password"
                                placeholder="***********" required>
                        </div>
                        <div class="formulario_linea">
                            <label for="repetir_password" class="formulario__label">Repita Contraseña:</label>
                            <input class="formulario__input" type="password" id="repetir_password"
                                name="repetir_password" placeholder="***********" required>
                        </div>
                        <div class="formulario__tyc">
                            <button class="registrar" type="submit">Registrar</button>
                            <input type="checkbox" name="terms" id="terms" value="accepted" required>
                            <label for="terms" class="tyc__label">
                                <span class="tyc">Acepto </span>
                                <a href="/terminos" class="tyc">Términos y Condiciones</a>
                            </label>
                        </div>
                    </form>
                </div>
            </section>
        </main>
        <%- include('../partials/footerAdmin') %>
</body>

</html>